body{
    background-color: rgb(253, 251, 251);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 25px;
}

#cabecalho{
    position: fixed;
    top: 0px;
    padding: 20px 80px;
}

#cabecalho h1{
    font-size: 30px;
    font-style: bold;
    color: darkslategray;
}

#minha_foto{
    width: 250px;
    border: 1px solid black;
    margin-left: 50px;
    margin-top: 20px;
}

#redes-sociais{
    padding: 20px 30px;
}

.lado-direito{
    float:inline-end;
    padding: 50px 100px;
    margin-left: 430px;
}

.lado-direito section{
    margin-top: 50px;
}

.lado-direito h2, .lado-esquerdo h2{
    font-style: bold;
    font-size: 20px;
    color:darkslategrey;
}

#tabela tr th{
    border: 1px solid black;
    background-color: blanchedalmond;
}

#tabela tr td{
    text-align: center;
}

.lado-esquerdo{
    position: absolute;
    float:left;
    width: 390px;
    height: 100px;
    margin-left: 80px;
    top: 1100px;
}

.lado-esquerdo p{
    font-style: italic;
}

#rodape{
    float: none;
    bottom: 0px;
    margin-top: 200px;
    text-align: center;   
}