body{
    background-color: rgb(253, 251, 251);
}

#cabecalho{
    position: fixed;
    top: 0px;
    margin-left: 80px;
}

#minha_foto{
    width: 250px;
    border: 1px solid black;
    margin: 25px;
}

#corpo{
    padding: 100px 100px;
    margin-left: 400px;
}

#rodape{
    text-align: center;
    margin-bottom: 30px;
}